@model Hospital.Data.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="iin" class="control-label"></label>
                <input asp-for="iin" class="form-control" />
                <span asp-validation-for="iin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientfio" class="control-label"></label>
                <input asp-for="patientfio" class="form-control" />
                <span asp-validation-for="patientfio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telephone" class="control-label"></label>
                <input asp-for="telephone" class="form-control" />
                <span asp-validation-for="telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="specialistID" class="control-label"></label>
                <select asp-for="specialistID" class ="form-control" asp-items="ViewBag.specialistID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
